body {
  background-image: url(clock-sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill-opacity: 0.5;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 36px;
  text-align: center;
}
h2 {
  font-size: 30px;
  margin: 2px 0;
}
select {
  background-color: #ebc89d;
  border-radius: 4px;
  display: block;
  font-size: 18px;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}
a {
  color: darkgreen;
  font-weight: 700;
  text-decoration: none;
}
.container {
  background: radial-gradient(
    1091px at 106.5% 111.5%,
    rgb(250, 246, 213) 0.1%,
    rgb(218, 147, 93) 42.2%,
    rgb(137, 86, 67) 74.3%,
    rgb(67, 39, 39) 100.2%
  );
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 65px auto;
  max-width: 700px;
  opacity: 0.9;
  padding: 30px;
}
.city {
  border-bottom: 1px dashed;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
}

.city:last-child {
  border: none;
}
.date {
  margin: 4px 0;
  opacity: 0.8;
}
.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 22px;
  font-weight: bold;
  vertical-align: middle;
}

footer {
  font-size: 22px;
  text-align: center;
}
